
@{
    ViewBag.Title = "Style2";
}
<link href="~/template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link href="~/template/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/template/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
<link href="~/template/lib/device-mockups/device-mockups.min.css" rel="stylesheet" />

<!-- Theme CSS -->
<link href="~/template/css/new-age.min.css" rel="stylesheet" />

<section class="cta" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="cta-content">
        <div class="container">
            <h1>Ти се вдъхнoвяваш от процесите (PROCESS ORIENTED) </h1>
            <p>Ти си  логичен, систематичен и прецизен към детайла. Имаш добри организационни умения и аналитичен ум. Обичаш процесите, изградената стратегия, организацията и фактите, както и контрола и тестовете, внимателен си и следиш детайлите. Действията ти се характеризират с внимание, търпение, факти и логика, обичаш да правиш нещата стъпка по стъпка.</p>
            <img src="~/template/img/proces.jpg" class="img-thumbnail" width="400" height="400" align="middle" style="display: block;margin: 0 auto;" />
            <br />
            <br />
            @if (ViewBag.Message != null)
            {
                <h4>Твоят код е: <span id="value">@ViewBag.Message</span></h4>
            }
            @Html.ActionLink("Обяви за теб", "All", "Ads", new { profile = "ProcessOriented" }, new { @class = "btn btn-primary btn-lg" })

            <br />
        </div>
    </div>
</section>
@Scripts.Render("~/Scripts/CodeJS.js")



