
@{
    ViewBag.Title = "Style1";
}

<link href="~/template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- Plugin CSS -->
<link href="~/template/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/template/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
<link href="~/template/lib/device-mockups/device-mockups.min.css" rel="stylesheet" />

<!-- Theme CSS -->
<link href="~/template/css/new-age.min.css" rel="stylesheet" />

<section class="cta" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="cta-content">
        <div class="container">
            <h1>Ти се вдъхновяваш от действието (ACTION ORIENTED)</h1>
            <p>Ти си отговорен, директен, нетърпелив, енергичен, готов си да реагираш бързо във всяка една ситуация. Гъвкав си в постоянно променящата се среда. обичаш действията, резултатите, ясните цели и тяхното активно преследване. Цениш високата продуктивност и ефективност, отговорността и опита. Действията ти се характеризират с прагматичност, директност, често предизвикват другите да покажат най-доброто от себе си.</p>
            <img src="~/template/img/action.jpg" class="img-thumbnail" width="400" height="400" align="middle" style="display: block;margin: 0 auto;" />
            <br />
            <br />

            @if (ViewBag.Message != null)
            {
                <h4>Твоят код е: <span id="value">@ViewBag.Message</span></h4>
            }

            @Html.ActionLink("Обяви за теб", "All", "Ads", new { profile = "ActionOriented" }, new { @class = "btn btn-primary btn-lg" })
            <br />
        </div>
    </div>
</section>
@Scripts.Render("~/Scripts/CodeJS.js")

