@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/innerCSS/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/innerCSS/style.css" rel="stylesheet" />
<link href="~/Content/innerCSS/default.css" rel="stylesheet" />

<div class="container" style="padding: 0;">
    <h2>Кои сме ние?</h2>
    <div class="row">
        <div class="span4 offset1">
            <div>
                <h2>Ние живеем за <strong>ИНОВАЦИЯТА!</strong></h2>
                <p>
                    Ние вярваме, че вие имате потенциала да правите нещата различно, иновативно, гениално, като за вас не е въпрос на утвърдени модели, приложни стратегии, минимален сбор от база данни, система за лийн иновации, и други ограничаващи термини, а просто различен начин на всекидневно мислене.
                </p>
            </div>
        </div>
        <div class="span6">
            <div class="aligncenter">
                <img src="~/Content/img/team/creativity.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-6.jpg" alt="">
                <h3>Мария Филипова</h3>
                <p>
                    Мениджър подбор
                </p>
            </div>
        </div>
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-3.jpg" />
                <h3>Кристина Атанасова</h3>
                <p>
                    Мениджър връзки с клиенти частно банкиране
                </p>
            </div>
        </div>
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-5.jpg" alt="">
                <h3>Алекс Данаилов</h3>
                <p>
                    Студент
                </p>
            </div>
        </div>
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-4.jpg" alt="">
                <h3>Мартин Йовков</h3>
                <p>
                    Bизнес анализатор
                </p>
            </div>
        </div>
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-2.jpg" alt="">
                <h3>Цветлена Иванова</h3>
                <p>
                    Специалист Глобални платежни услуги
                </p>
            </div>
        </div>
        <div class="span2 flyIn animated fadeInUp">
            <div class="people">
                <img class="team-thumb img-circle" src="~/Content/img/team/img-1.jpg" alt="">
                <h3>Йордан Йорданов</h3>
                <p>
                    Студент
                </p>
            </div>
        </div>
    </div>
</div>
