 button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
    
    /* Style the buttons that are used to open and close the accordion panel */
     button.accordion {
         color: #444;
         cursor: pointer;
         padding: 18px;
         width: 100%;
         text-align: left;
         border: none;
         outline: none;
         transition: 0.4s;
     }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

    /* Style the accordion panel. Note: hidden by default */
    div.panel {
        padding: 0 18px;
        background-color: #f5f5f5;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }