
@{
    ViewBag.Title = "StatusTimeline";
}

<div class="container body-content">
    <img src="http://www.surreylip.ca/sites/default/files/styles/page_top__740_312_/public/Timeframe%20LIP.JPG?itok=hFZEjSCf" class="img-thumbnail" alt="status" />
</div>

