@model SociateGeYoung.Models.ViewModels.DatailsJobAdVm
@{
    ViewBag.Title = "Details";
}
<div class="container body-content">
    <h2>Details Job Add</h2>

    <div>
        <h1>@Model.Position</h1>
        <img src="@Model.ImageUrl" alt="" width="400" height="400" class="img-responsive" />
        <br />
        <br />
        <p class="text-justify">@Model.Description</p>
    </div>
    

</div>

