
@{
    ViewBag.Title = "#SoGeRobo";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1 style="text-align: center;">#SoGe ROBO</h1>        
    </div>
    <div class="col-sm-4 col-sm-push-2">
        <img src="https://pbs.twimg.com/profile_images/662581662371463168/2fMmhPe0.png" alt="ROBO" class="img-thumbnail" height="500" width="300" />
    </div>
    <div class="col-sm-4 col-sm-push-2 ">
        <iframe src='https://webchat.botframework.com/embed/sogerobo?s=rOgdoJRByHY.cwA.u7E.bdfqb5MZbJqkkcjASLQRpGdHpUX5_19qBnL7YioS0HQ' height="400" width="300"></iframe>
    </div>


</div>
