
@{
    ViewBag.Title = "#SoGeRobo";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1 style="text-align: center;">#SoGe ROBO</h1>
        <button type="button" class="btn btn-lg btn-default">Talk with me</button>
        <img src="https://pbs.twimg.com/profile_images/662581662371463168/2fMmhPe0.png" alt="ROBO" class="img-thumbnail" />
        <p>SoGe ROBO will find the best job for YOU! Try it now FOR FREE!</p>
    </div>
</div>
